<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>prediction</title>
</head>
<body>
  <h1>Faites des prédictions de maladie cardiaques</h1>

      <form action="{{url_for('regression')}}" method="post">
         <div class="tab">Selection le type de prévision
            <p><input type= "radio" name="regression" id="simple" value="simple"> Simple</p>
            <p><input type= "radio" name="regression" id="multiple" value="multiple"> multiple</p>
             <input type="submit" value="Valider">
        </div>
      </form>
  <p> M/mle <span>{{nom}}</span> <span>{{prenom}}</span> </p>
     {{pred}}
</body>
</html>